.thumbnail img {
    width: 100%;
    min-width: 260px;
    min-height: 260px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
