<% include partials/header %>

<h1>Create a new campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" placeholder="name" name = "name">
    <input type="text" placeholder="image url" name = "image">
    <button>Submit</button>
</form>

<% include partials/footer %>